.DS_Store
.vscode/
requirement/django/.env
requirement/django/credentials
requirement/django/backup


requirement/django/credentials
*.env

# Ignore all files in uploads/avatars
requirement/django/app/uploads/avatars/*

# Except for default.jpg and default-white.png
!requirement/django/app/uploads/avatars/default.png
!requirement/django/app/uploads/avatars/default-white.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
#*.sqlite3
db.sqlite3
#media
#local_settings.py

# selenium
node_modules/