.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#canvas {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 2 / 1;
    border: 1px solid blue;
}

@media (max-width: 767px) {
    #canvas {
        max-width: 300px;
        aspect-ratio: 1 / 2;
    }
}