.custom-bg {
	height: 70vh;
	margin-top: 2vh;
	min-height: 31rem;
	box-shadow: var(--box-shadow);
	border-radius:var(--border-radius);
}

#header {
	padding-top: 2vh;
	padding-left: 2vw;
	padding-right: 3vw; 
	justify-content: space-between;
	color: var(--primary-color);
	font-size: var(--header-font-size);
}

#username {
	color: var(--gray-color-dark);
	font-size: var(--header-font-size);
}

.btn-danger {
	width: 6rem;
	height: 2rem;
	font-size: var(--font-size);
	border-radius: var(--border-radius);
}

#blockBtn i {
	color: white;
	font-size: var(--icon-size);
}

.topic {
	padding: 0;
	margin: 0;
	padding-left: 4vw;
	font-weight: bold;
	color: var(--primary-color);
	color: var(--gray-color-medium);
	font-size: var(--header-font-size);
}

.topic p{
	padding: 0;
	margin-bottom: 5px;
}

.content {
	gap: 20px;
	margin: 0 4vw;
	margin-bottom: 5px;
	padding: 10px;
	border: var(--border-green);
	border-radius: var(--border-radius);
}

#photo {
	width: 10rem;
	height: 10rem;
	position: relative;
	overflow: hidden;
	border-radius: var(--border-radius);
}

#photo img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

match-history-base-component {
	width: 100%;
}