:host {
	display: block;
	position: fixed;
}

#textSignUp {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.text-gray {
	font-size: var(--font-size);
	color: var(--gray-color-light);
}

label {
	font-weight: bold;
	margin-right: 0.5rem;
	font-size: var(--font-size);
	color: var(--primary-color);
}

#userLabel,
#passLabel {
	width: 5rem;
}

.input-css {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 10rem;
	padding: 0.6rem 1rem;
	border: var(--border-green);
	font-size: var(--font-size);
	color: var(--gray-color-dark);
	background: var(--gray-color-bg);
	border-radius: var(--border-radius);
}

.input-css::placeholder {
	color: var(--gray-color-light);
}

.input-img {
	margin-bottom: 5px;
	width: 12rem;
	font-size: var(--font-size);
	color: var(--gray-color-dark);
}

#avatarCon {
	width: 10rem;
	height: 10rem;
	overflow: hidden;
	border-radius: var(--border-radius); 
}

#avatarCon img {
	object-fit: cover;
}

#usernameCon {
	margin-top: -0.5rem;
}

#emailCon {
	margin-bottom: 0.5rem;
}

#signUpBtn {
	margin-top: 0;
	max-width: 20rem;
	padding: 1rem 1;
	color: white;
	font-weight: bold;
	font-size: var(--font-size);
	border-radius: var(--border-radius);
	background-color: var(--primary-color);
}

#signUpBtn:hover {
	background-color: var(--primary-color-dark); 
}

#signUpBtn:active {
	background-color: var(--primary-color-darker);
}